*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Fredoka", sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    padding: 10px;
}
.title{
    text-align: center;  
    color: #fff;
    text-shadow: 0px 0px 20px #393737, 0px 0px 10px; 
    font-size: 20px;
   
}
.head button{
    background: transparent;
    border: none;
    font-size: 30px;
    padding-right: 20px;
    color: #fff;
}

.first{
    display: flex;
   
}
.first img{
    width: 320px;
    height: 90vh;
    position: relative;
    object-fit: cover;
}
.para{
    width: 100%;
    font-size: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(215, 226, 251);
}

.btn a{
    background-color: darkblue;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 20px;
}
.btn{
    margin: 10px 0px 20px 0px;
    
}
.inside{
    position: absolute;
    top: 5em;
    left: 25px;
    width: 250px;
    
}
.inside p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    text-shadow: 0px 0px 10px #23c9f3;
}

#hide{
    background-color: #dfdede;
    box-shadow: 0px 0px 220px #ccc;
    color: crimson;
    position: absolute;
    transition: 0.7s;
    z-index: 3;
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
 
}

.row{
    display: flex;
    font-size: 18px;
    background-color: #23c9f3;
    color: rgb(91, 14, 73);
justify-content: space-between;
padding: 10px;
height: auto;

}
.row button{
    background:transparent;
    border: none;
    font-size: 20px;
}

.content{  
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    height: 100vh;

}
.content a{
    text-decoration: none;
    color: #23c9f3;
    text-align: center;
    padding:10px;
    margin-top: 30px;
   
}

@media (min-width:320px) and (max-width:480px){
    .first{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .first img{
        width: 100%;
        height: 500px;
        border-radius: 5px;
    

    }
    .title{
        font-size: 15px;
        width: 100%;
    }
   
    .head button{
        font-size: 18px;
    }
    .para{
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    .btn{
        margin-left: 10px;
    }
    .btn a{
        font-size: 16px;
        margin-top: 5px;
    }
    .para p{
        width: 90%;
        text-align: justify;
        padding: 10px;
    }
    .inside p{
        width: 280px;
    }
  
    
}